<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{ nombrePagina }}</title>
</head>
<body>

   <div class="capa">
        <div class="nombre-sitio contenedor">
            <h1><a href="/">Jobs</a></h1>

            {{#if barra}}
                <div class="buscador">
                    <form action="#">
                        <input type="text" class="buscar">
                        <input type="submit" value="Buscar">
                    </form>
                </div>
            {{/if}}

            {{#if cerrarSesion}}
                <div class="cerrar-sesion">
                    <p>Hola! {{nombre}}</p>
                    {{#if imagen}}
                    <div class="img-box" 
                        style="
                            background-image:url(/uploads/perfiles/{{imagen}});
                        ">
                        </div>
                    {{/if}}
                    <a href="/administracion">Administración</a>
                    <a href="/cerrar-sesion">Cerrar Sesión</a>
                </div>
            {{/if}}
        </div>

        <header class="site-header contenedor separador">
                <div class="text-header">
                    <h2>{{nombrePagina}}</h2>

                    {{#if tagline}}
                        <p class="tagline">{{tagline}}</p>
                    {{/if}}

                    {{#if boton}}
                        <a href="/vacantes/nueva" class="btn btn-azul">Publicar Nueva Vacante</a>
                    {{/if}}
                </div>
           
           {{#if nave}}
                <img src="/img/rocket.png" class="img-header">
           {{/if}}
        </header>

        <div class="contenido-principal contenedor">

            {{#if mensajes}}
                <div class="alertas">
                    {{#mostrarAlertas mensajes}}
                    {{/mostrarAlertas}}
                </div>
            {{/if}}
            {{{body}}}
        </div>
    </div> 
    <script src="/dist/bundle.js"></script>
    <script src="/js/trix.js"></script>
    <script src="https://kit.fontawesome.com/dad2dd254f.js" crossorigin="anonymous"></script>

</body>
</html>